body {
    font-size: 10pt;
}
#page {
    max-width: 70%;
    margin: 0 auto;
    background-color: transparent;
}
#main-menu {
    display: none;
}
#site-header {
    float: none;
    width: 100%;
    margin: 0 0 2em 0;
    text-align: center;
}
#content {
    float: none;
}
.post-title-selected::before {
    content: none;
}
.post-content a {
    border-bottom: 0;
}
.post-content a:after,
.attachment a:after {
    content: " (" attr(href) ")";
    font-family: "PT Sans", sans-serif;
    font-size: .8em;
    text-decoration: none;
}
.post-meta {
    text-align: left;
}
.post-meta a {
    border-bottom: 0;
}
#print-post-link {
    display: block;
    text-align: left;
    font-size: .9em;
    margin: 2em 0 0 0;
}
.comment-block {
    display: none;
}
#sidebar {
    display: none;
}
#site-footer {
    display: none;
}