/*******************
 * Main stylesheet *
 *******************/

/*
 * Fonts
 */

/* EB Garamond */
@font-face {
    font-family: "EB Garamond";
    src: url("fonts/eb-garamond/EBGaramond-Regular.woff2") format("woff2");
    font-style:  normal;
    font-weight: 400;
    font-variant: normal;
    font-display: swap;
}
@font-face {
    font-family: "EB Garamond";
    src: url("fonts/eb-garamond/EBGaramond-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-variant: normal;
    font-display: swap;
}
@font-face {
    font-family: "EB Garamond";
    src: url("fonts/eb-garamond/EBGaramond-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    font-display: swap;
}
@font-face {
    font-family: "EB Garamond";
    src: url("fonts/eb-garamond/EBGaramond-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
    font-variant: normal;
    font-display: swap;
}

/* PT Sans */
@font-face {
    font-family: "PT Sans";
    src: url("fonts/pt-sans/PTSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    src: url("fonts/pt-sans/PTSans-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    src: url("fonts/pt-sans/PTSans-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    src: url("fonts/pt-sans/PTSans-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

/*
 * Structure
 */
body {
    font-family: "PT Sans", sans-serif;
    font-size: 11pt;
    font-weight: 400;
    background-color: #ffffff;
}
#page {
    max-width: 400px;
    padding: 20px;
    margin: 4em auto 2em;
    background-color: transparent;
}
#page::after {
    clear: both;
}
#page::before,
#page::after {
    display: table;
    content: "";
    line-height: 0;
}
#site-header {
    float: left;
    width: 180px;
    margin-left: -240px;
}
#content {
    float: right;
    width: 100%;
    margin-bottom: 2em;
}
#sidebar {
    float: left;
    clear: left;
    width: 180px;
    margin: 2em 0 0 -240px;
}
#site-footer {
    float: right;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * Text formatting
 */
a {
    color: inherit;
    text-decoration: none;
    transition: all .2s ease .1s;
}
a:hover,
a:active,
a:focus {
    color: #de0000;
    transition: all .2s ease .1s;
}
p {
    margin: 1em 0;
    line-height: 1.4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0 .4em;
    line-height: 1.2em;
    font-weight: 700;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.1em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: .9em;
}
h6 {
    font-size: .8em;
}
strong {
    font-weight: 700;
}
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}
var {
    font-style: italic;
}
del,
strike {
    text-decoration: line-through;
}
address {
    font-style: italic;
}
abbr,
acronym {
    border-bottom: 1px dotted #000000;
    cursor: default;
}
ins {
    text-decoration: underline;
}
blockquote {
    margin: 1em 2em;
    position: relative;
    font-style: italic;
}
blockquote::before,
blockquote::after {
    position: absolute;
    color: #dadada;
    font-size: 2em;
    font-style: normal;
    line-height: 1em;
}
blockquote::before {
    content: "\0000AB";
    left: -.8em;
    top: -.4em;
}
blockquote::after {
    content: "\0000BB";
    right: -.8em;
    bottom: -.2em;
}
cite {
    font-style: italic;
}
pre,
code,
kbd {
    white-space: pre-wrap;
    font-size: .8em;
    text-align: left;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
}
dt {
    font-variant: small-caps;
}
dd {
    margin: 0 0 1em 2em;
}
table {
    border: 1px solid #dadada;
    border-collapse: collapse;
}
th {
    border: 1px solid #dadada;
    padding: .4em;
    background-color: #f3f3f3;
}
td {
    border: 1px solid #dadada;
    padding: .4em;
}
hr {
    overflow: visible; /* For IE */
    margin: 3em 0;
    padding: 0;
    border: none;
    color: #000000;
    text-align: center;
}
hr:after {
    content: "\002042";
    display: inline-block;
    position: relative;
    top: -.6em;
    font-size: 1.2em;
    padding: 0 .25em;
    background: white;
}
input,
textarea {
    color: #000000;
    background-color: #eaeaea;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    padding: .4em;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
    transition: all .2s ease .1s;
}
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
    cursor: pointer;
    color: #de0000;
    background-color: #ffffff;
    border-color: #de0000;
    transition: all .2s ease .1s;
}
textarea[id="c_content"] {
    font-family: "EB Garamond", serif;
    font-size: 1.1em;
}
textarea[id="c_content"]::placeholder {
    font-family: "PT Sans", sans-serif;
    font-size: .9em;
}

/* Medias */
p .media {
    margin: 0 !important;
}
img {
    max-width: 100%;
    height: auto;
}
iframe {
    margin: 1em 0;
}

/*
 * Header
 */
#site-logo {
    margin-bottom: 1em;
}
#site-logo a {
    display: inline-block;
    height: auto;
}
#site-logo img {
    border-radius: 2px;
    max-width: 120px;
    height: auto;
}
#site-title {
    margin: 0;
    font-size: 1.5em;
    font-variant: small-caps;
}
#site-description {
    margin: .6em 0 0;
    color: #565656;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}

/*
 * Sidebar
 */
#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar li {
    margin: .4em 0;
}
#sidebar p {
    margin-bottom: 1em;
}
.widget {
    margin-bottom: 2em;
}
.widget h2,
.widget h3 {
    font-size: 1em;
    padding-bottom: .2em;
    margin-bottom: .5em;
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

/*
 * Posts
 */
.post {
    margin-bottom: 4em;
}
.post-meta {
    margin: .2em 0;
    font-size: .9em;
    line-height: 1.4em;
    color: #565656;
}
.post-meta a {
    border-bottom: 1px dotted #565656;
}
.post-title {
    position: relative;
    margin: 0;
    font-size: 1.5em;
    font-variant: small-caps;
}
.post-title-selected::before {
    float: right;
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAOJJREFUOBGlkgESAxEMRVev5E6caZ2JM2l+KkqsdHZrBplIHvLjaq2HNUopHOC9d1bcAZA1CQAQhdhxJiTnzBCAYFuwl/XclFI/Hu3uHAyHWzajOjeXpcXOzpa8e1GNMS785ru82eHvpAwnYR/thUQOKj67sYvNjvM8e0HJ8cgOIXwk/QeGXK4dFswnMIFMoLswfAc5MrshDv7vj1ppCHJ38rMQd5YFJPJbkKsY3dlLN++A+A6N3uXTi/RNaDhqWJ5T8xFBx07FlhagpDpKK0LAhzPiLOcLqClCuV9ptY0YfdEbJw6UhaEBEnwAAAAASUVORK5CYII=');
    margin-left: .2em;
}

/* Content */
.post-content {
    margin: 1.5em 0;
    font-family: "EB Garamond", serif;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5em;
    hyphens: auto;
}
.post-content > p {
    margin: 1em 0;
    line-height: 1.5em;
}
.post-content a {
    color: inherit;
    border-bottom: 1px dotted #000000;
}
.post-content a:hover,
.post-content a:active,
.post-content a:focus {
    color: #de0000;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    font-family: "PT Sans", sans-serif;
    margin: 1.2em 0 .6em 0;
}

/* Lists */
.post-content ul,
.post-content ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.post-content ul > li,
.post-content ol > li {
    margin-left: 1.5em;
}
.post-content ul li::before {
    content: "\2014\ ";
}
.post-content ol {
    counter-reset: compteListe;
}
.post-content ol li::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) ". ";
}

/* Medias */
.post-content figure,
.post-content .media {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.post-content figure .media-link {
    border: 0;
}
.post-content .media {
    max-width: 100%;
    height: auto;
}
.post-content figure p {
    text-indent: 0;
    margin: 0;
}
.post-content figcaption {
    margin-top: .2em;
    font-family: "PT Sans", sans-serif;
    font-size: .8em;
    text-align: center;
    color: #565656;
    line-height: 1.2em;
    hyphens: none;
}

/* Footer */
.post-footer {
    margin: 1.5em 0 4em 0;
}
.post-comments::first-letter {
    text-transform: capitalize;
}
#print-post-link {
    display: none;
}

/* Attachmets */
.attachment {
    margin: 4em 0;
}
.attached-file {
    font-style: italic;
}

/*
 * _entry-excerpt.html
 */
.post-list {
    margin-bottom: 4em;
}
.excerpt-link {
    margin: 1em 0;
}
.excerpt-link a {
    display: block;
    border-bottom: 0 !important;
}
.excerpt-link a:hover,
.excerpt-link a:active,
.excerpt-link a:focus {
    color: #000000 !important;
}
.excerpt-link p {
    text-indent: 0;
}
.excerpt-more {
    font-style: normal;
}

/*
 * Pages
 */
.page {
    margin: 0 0 4em;
}
#content-info {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #dbdbdb;
}
.content-title {
    margin: 0;
}
#content-info h2 {
    margin: 0;
    font-size: 1.4em;
    font-variant: small-caps;
}
#content-info p {
    margin: 1em 0 0 0;
}

/*
 * Comments
 */
.comment-block {
    margin: 4em 0;
}
#comments-count::first-letter {
    text-transform: capitalize;
}
#comments-list {
    list-style: none;
    margin: 2em 0 4em;
    padding: 0;
}
.comment,
.ping {
    margin: 2em 0;
}
.comment-header {
    border-bottom: 1px solid #dbdbdb;
}
.comment-number {
    display: inline-block;
    background-color: #dbdbdb;
    color: #000000;
    padding: .2em .4em;
    border-radius: 2px 2px 0 0;
    line-height: 1em;
}
.comment-number:hover {
    color: inherit;
}
.comment-author {
    font-weight: 700;
}
.comment-content {
    margin: 1em 0;
    padding: 0 1em;
    font-family: "EB Garamond", serif;
    font-size: 1.1em;
    text-align: justify;
    hyphens: auto;
}
.comment-content p {
    margin: .5em 0;
}
.ping-content p {
    padding-left: 1em;
}
.ping-elsewhere {
    margin-bottom: .4em;
}
.comment-info {
    padding: 0 1em;
}
.comment-info-date {
    margin-top: .2em;
    font-size: .9em;
    color: #565656;
}
#comment-form label,
#comment-form input,
#comment-form textarea {
    display: block;
    margin: .2em 0;
}
#comment-form label:hover {
    cursor: pointer;
}
#comment-form textarea {
    width: 100%;
    padding: .4em;
}
#comment-form input[type="submit"] {
    display: inline-block;
}
#comment-form input[id="c_remember"],
#comment-form label[for="c_remember"] {
    display: inline-block;
}
#comment-help {
    font-style: italic;
}
#comment-more {
    margin-top: 2em;
}
#comment-more p {
    margin: .4em 0;
}
#comment-preview {
    margin: 4em 0;
}
.comment-preview-info {
    margin-bottom: .4em;
}
#comment-name-preview {
    margin-bottom: 1em;
}
.comment-message {
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #de0000;
    font-weight: 700;
}

/* Comment preview */
.comment-preview {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    padding: 1em;
}
.comment-preview-info h3 {
    margin-top: 0;
}

/*
 * Pagination
 */
.pagination {
    margin: 4em 0 5em;
    text-align: center;
    color: #565656;
}
.page-current {
    display: inline-block;
    margin: 0 auto;
}
.page-prev {
    float: left;
    margin-top: .4em;
}
.page-next {
    float: right;
    margin-top: .4em;
}

/*
 * Footer
 */
#site-footer {
    text-align: center;
    font-size: .9em;
}
#site-footer a {
    border-bottom: 1px dotted #565656;
}
.footer-div {
    margin: .4em 0;
    color: #565656;
}
#site-footer .widget {
    margin: 2em 0;
}
#site-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#site-footer ul li {
    display: block;
    margin: .4em 0;
}

/*
 * Plugins
 */

/* Simple Menu */
#main-menu,
#sidebar .w-block-menu {
    margin: 2em 0 0;
    padding: 0;
    list-style: none;
}
#sidebar .w-block-menu ul ul {
    margin: 0 0 1em 1em;
}
#main-menu li,
#sidebar .w-block-menu li {
    margin: .4em 0;
}
#main-menu li a,
#sidebar .w-block-menu li a {
    position: relative;
    display: inline-block;
    border-left: 1px solid #dbdbdb;
    padding: .2em 8px .2em 6px;
    transition: all .2s ease .1s;
}
#main-menu li a:hover,
#main-menu li a:active,
#main-menu li a:focus,
#sidebar .w-block-menu li a:active,
#sidebar .w-block-menu li a:hover,
#sidebar .w-block-menu li a:focus {
    border-color: #de0000;
    transition: all .2s ease .1s;
}

/* Footnotes */
.post-content .footnotes ol li::before {
    counter-increment: none;
    content: "";
}
.footnotes ol li > p::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) ". ";
}

/*
 * Responsive
 */

@media only screen and (max-width: 999px) {
    #page {
        margin: 2em auto 2em auto;
        box-sizing: border-box;
    }
    #site-logo {
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    #site-header {
        float: none;
        width: 100%;
        margin: 0 0 2em 0;
        text-align: center;
    }
    #main-menu li {
        display: inline-block;
        margin: 0 .4em;
    }
    #main-menu li a {
        position: relative;
        display: inline-block;
        border-left: 0;
        border-bottom: 1px solid #dbdbdb;
        padding: 0 0 .2em 0;
    }
    #main-menu li a:hover,
    #main-menu li a:active,
    #main-menu li a:focus {
        color: #de0000;
    }
    #main-menu li a:hover::after {
        width: 0%;
    }
    #content {
        float: none;
    }
    #sidebar {
        float: none;
        width: 100%;
        margin: 2em 0 4em 0;
        border-top: 1px solid #dbdbdb;
        padding-top: 2em;
    }
    #site-footer {
        float: none;
    }
}

@media only screen and (max-width: 800px) {
    #page {
        max-width: none;
        width: 55%;
    }
}

@media only screen and (max-width: 720px) {
    #page {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) {
    #page {
        width: 70%;
    }
    #site-logo {
        max-width: 80px;
    }
}

@media only screen and (max-width: 480px) {
    #page {
        margin: 0 auto;
        width: 100%;
        padding: 10%;
    }
    #comment-form #c_name,
    #comment-form #c_mail,
    #comment-form #c_site {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    #page {
        width: 100%;
        padding: 4%;
    }
}